html,
body
{
  background-color: #222;
  box-sizing: border-box;
  color: #fff;
  font-size: 8vmin;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  max-width: 100vw;
}

body
{
  background-clip: border-box;
  background-image: url('Cerberus.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

div
{
  box-sizing: border-box;
}

.horloge
{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 46vh 0;
  width: 100vw;
}

.highlight
{
  align-items: center;
  background-color: #800;
  border-radius: 5vmin;
  display: flex;
  height: 10vmin;
  justify-content: center;
  mix-blend-mode: difference;
  position: absolute;
  width: 57vmin;
}

.highlight > div
{
  background-color: #800;
  border-radius: 5vmin;
  height: 8vmin;
  mix-blend-mode: difference;
  width: 55vmin;
}

.heure,
.minute,
.seconde
{
  align-items: center;
  background-color: #800;
  border-radius: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 10vmin;
  margin-right: 2vmin;
  margin-top: 0vmin;
  mix-blend-mode: difference;
  padding: 1vmin;
  transition: margin-top 0.5s ease-in-out;
}

.heure:nth-child(even),
.minute:nth-child(even)
{
  margin-right: 5vmin;
}

.seconde:last-child
{
  margin-right: 0;
}
